.draggable
{
	cursor: move;
	z-index: 1;
}

.connector
{
	background-color: black;
}

.dock_point
{
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
	position: absolute;
	font-size: 1px;
	visibility: hidden;
}

div.block, h1.block, h2.block, p.block
{
    position: absolute;
    border: 1px solid #9DA3B3;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 75px;
    width: 200px;
}

.SUCCESS
{
	background-color: green;
}

.FAILURE
{
	background-color: red;
}

.RUNNING
{
	background-color: blue;
}


div.canvas
{
    border: 1px solid #999999;
    background-image: url('gradient.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.phaseHighlighted
{
    border: 3px solid #f0ffff !important;
}

.highlighter .highlighter
{
    border: 1px solid #7DAB76 !important;
    background-color: #BAFFB0 !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
}


html
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-size: 11px;
    padding: 3px;
    margin: 0px;
    background-color: white;
}

h1
{
    color: #FF7521;
    margin: 0px;
    font-size: 20px;

}

h2
{
    font-size: 15px;
    margin: 0px;
}

p, div
{
    font-size: 11px;
    margin: 0px;
}

a
{
    text-decoration: none;
    color: #FF9900;
}

.middle-label, .source-label, .destination-label
{
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

div.connector
{
    background-color: orange;
    z-index: 1000;
}

table.main_table
{
    width: 100%;
    border-collapse: separate;
}

.block ol, .block ul
{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 25px;
}

.code
{
    line-height: 1.5em !important;
}