.draggable
{
	cursor: move;
	z-index: 1;
}

.connector
{
	background-color: transparent;
}

.dock_point
{
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
	position: absolute;
	font-size: 1px;
	visibility: hidden;
}

div.block, h1.block, h2.block, p.block
{
    position: absolute;
    border: 1px solid #9DA3B3;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 120px;
    width: 250px;
}

#version {
	padding-top: 3px;
}

#tasks {
	padding-top: 15px;
}

.SUCCESS
{
	background-color: #64cc7b;
}

.FAILURE
{
	background-color: #d25353;
}

.RUNNING
{
	background-color: #98c7f7;
}

.PENDING
{
    background-color: #d3d3d3;
}


div.canvas {
    margin-bottom: 20px;
    overflow: visible;
}

/*div.canvas*/
/*{*/
    /*border: 1px solid #999999;*/
    /*background-image: url('gradient.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top right;*/
    /*padding: 0px;*/
    /*-webkit-border-radius: 5px 5px 5px 5px;*/
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*border-radius: 5px 5px 5px 5px;*/
/*}*/

.phaseHighlighted
{
    border: 3px solid #f0ffff !important;
}

.highlighter .highlighter
{
    border: 1px solid #7DAB76 !important;
    background-color: #BAFFB0 !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
}



.middle-label, .source-label, .destination-label
{
    font-size: 11px;
    padding: 5px;
}

div.connector
{
    background-color: transparent;
    z-index: 1000;
    padding-right: 20px;
}

.connector-end {
    height: 80px;
    width: 40px;
    padding-right: 10px;
}

table.main_table
{
    width: 100%;
    border-collapse: separate;
}

.block ol, .block ul
{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 25px;
}

.code
{
    line-height: 1.5em !important;
}