.pipe {
    border: 1px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    background: #d3d3d3;
    height: 100px;
    width:100%;
    margin-bottom: 30px;
}
.phase-column {
    width: 300px;
    margin-left: 20px;
    float: left;
}
.phase {
    border: 1px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    background: #fafad2;
    width: 300px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
}
