body {
    padding: 0px;
    color: #2F2727;
}

label {
    font-weight: bold;
}
#header {
    padding-bottom: 10px;
}

#header a {
    text-decoration: none;
    color: #686985;
}

a {
    text-decoration: none;
}

#logo-left {
    float: left;
    position: relative;
    height: 80px;
    padding-left: 75px;
    font-family: fantasy;
    font-size: 1.2em;
}

#logo-left h1 {
    color: #2c2f85;
    text-shadow: 2px 2px 2px #888888;
}

#logo-right {
    float: right;
    position: relative;
    height: 80px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 1.05em;
    padding-right: 15px;
}


#logo-left img {
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#logo-right img {
    position: absolute;
    bottom: 0;
    right: 0;
}

#settings img {
    height: 20px;
}

#settingsPanel {
    position:fixed;
    top:50%;
    left:50%;
    background-color:black;
    z-index:1002;
    overflow:auto;
    width:800px;
    height:400px;
    margin-left:-400px;
    margin-top:-200px;
    opacity: 0.75;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#settingPanel a, a:visited {
    color: #f0ffff;
}

#detailsPanel {
    position:fixed;
    top:50%;
    left:50%;
    background-color:black;
    z-index:1002;
    overflow:auto;
    width:80%;
    height:80%;
    margin-left:-40%;
    margin-top:-40%;
    opacity: 0.75;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #f0ffff;
}

.expanded {
    display: block;
    transition: width 3s, height 3s, transform 3s;
    -moz-transition: width 3s, height 3s, -moz-transform 3s;
    -webkit-transition: width 3s, height 3s, -webkit-transform 3s;
    -o-transition: width 3s, height 3s,-o-transform 3s;
}

.collapsed {
    display: none;
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}



.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#divider {
    /* fallback */
    background-color: #1a82f7;
    background-image: url(images/linear_bg_1.png);
    background-repeat: repeat-y;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#f4ebf7), to(#2c2f85));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #f4ebf7, #2c2f85);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #f4ebf7, #2c2f85);

    /* IE 10 */
    background: -ms-linear-gradient(left, #f4ebf7, #2c2f85);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #f4ebf7, #2c2f85);

    height: 4px;
}

#settings {
    background-color: #2c2f85;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 0;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: -webkit-gradient(linear, left top, right top, from(#353985), to(#2c2f85));
    background: -webkit-linear-gradient(left, #353985, #2c2f85);
    background: -moz-linear-gradient(left, #353985, #2c2f85);
    background: -ms-linear-gradient(left, #353985, #2c2f85);
    background: -o-linear-gradient(left, #353985, #2c2f85);
    color: #f0ffff;
}

#breadcrumbs {
    padding-right: 20px;
    padding-left: 5px;
}


.rounded {
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.componentName {
    margin: 0px;
    border-top: 5px solid #bcbabe;
    border-right: 3px solid #bcbabe;
    border-bottom: 5px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    color: #2c2f85;
    height: 25px;
    font-size: 0.9em;
}

.componentVersion {
    font-size: 0.7em;
}

#versionControlInfo {
	font-size: 0.7em;
    color: black;
    font-weight: normal;
}

#dashboard {
    padding-left: 10px;
    padding-right: 10px;
}

#dashboard h2 {
    border-bottom: 4px solid #bcbabe;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    color: #2c2f85;
}

#dashboard h3 {
    padding-left: 5px;
    color: #2c2f85;
    display: inline;
}

.component {
    margin-bottom: 0px;
}

.link:hover {
    cursor: pointer;
}

.pipe {

}

.phase {
    float: left;
    width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}

.phaseHeader {
    padding: 5px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.phaseHeader h3 {
	display: inline;
}

.phaseBody {
    padding: 5px;
    border: 2px solid grey;
    height: 100px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.taskList {
    margin-top: 10px;
}

.task {
    float: left;
    margin-right: 10px;
    border: 2px solid grey;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.taskInfo {
    display: none;
    padding: 5px;
    position: absolute;
    bottom: -15px;
    background-color: #ffffff;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px #888888;
}

.task:hover .taskInfo {
    display: block;
}

#tasktabs {
    border: 0px solid gray;
    display: block;
}

#tasktabs h3 {
    margin: 5px;
}

#tasktabs .selected {
    background-color: gray;
}

#tasktabs .deselected {
    background-color: transparent;
}

#taskoutput {
    border-top: 2px solid gray;
    padding: 10px;
}

.taskTab {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.action {
    float: left;
    width: 80px;
    height: 120px;
    text-align: center;
}

.action img {
    height: 80px;
    margin-top: 40px;
}

.auto img {
    width: 60px;
}

.manual img {
    width: 100px;
}
