@(title: String, scripts: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @scripts
    </head>
    <body id="mainBody">
         <div id="header">
            <table>
                <tr>
                    <td class="left"><a href="http://www.diabol.se"><img id="logo-img" src="@routes.Assets.at("/images/diabol-logo.jpg")"/></a></td>
                    <td class="right"><a class="nostyle"><h3>Pipe It</h3></a></td>
                </tr>
            </table>
        </div>
        @content
    </body>
</html>