@(title: String, scripts: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/new.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/misc.js")" type="text/javascript"></script>
        @scripts
    </head>
    <body id="mainBody">
                <div id="header" class="expanded">
                <div id="logo-left" class="left"><a href="#"><img src="@routes.Assets.at("images/pipeit-logo.png")"  alt="pipeIt"/><h1>pipeit</h1></a></div>
        <div id="logo-right" class="right"><a href="http://www.diabol.se"><br/>cool tools from<img src="@routes.Assets.at("images/diabollogo.png")" alt="pipeIt"/></a></div>
        <div class="clear"></div>
                </div>
<div id="divider" class="">
</div>
<div id="navigation">
    <div id="settings" class="right">
        <span id="breadcrumbs" class="left">@title</span>
        <img class="link" onclick="toggleVisibility('settingsPanel');" src="@routes.Assets.at("images/settings.png")" alt="settings"/>
        <div id="settingsPanel" class="collapsed">
            <div class="right link" onclick="toggleVisibility('settingsPanel')">close</div>
            <h2>Settings</h2>
            <hr/>
            <span class="link" onclick="toggleVisibility('header');">Toggle page header</span>
        </div>
    </div>
    <div class="clear"></div>
</div>
        <div id="detailsPanel" class="collapsed">
            <div class="right link" onclick="toggleVisibility('detailsPanel')">close</div>
            <h2 id="detailsPanelTitle">Details Panel</h2>
            <div id="detailsPanelBody">Details about a task goes here....</div>
        </div>
        <div id="dashboard">
            @content
        </div>
    </body>
</html>