@()

@import models.statusdata._

@headers = {
    <script src="@routes.Assets.at("javascripts/graph-it/js-graph-it.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.8.3.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/graph-it/js-graph-it.css")" />
    <script src="@routes.Assets.at("javascripts/pipesCommon.js")" type="text/javascript"></script>
}

@html =  {
    <script>
    	//Variable for keeping track of which versions of each pipe is shown.
        var shownPipeVersions = {};
    	function generatePhaseMarkup(pipe, phase) {
    		var result = "";
    		result = result + "<h3>" + phase.name + "</h3>";
    		result = result + "<div class='right'>";
            if(phase.startedAsString) {
            	result = result + "<span id='started'>"+phase.startedAsString+"</span>";
            } else {
            	result = result + "<span id='started'></span>";
            }
            if(phase.executionTime){
            	result = result + "<span id='executionTime'>("+phase.executionTime+")</span>";
            } else {
            	result = result + "<span id='executionTime'></span>";
            }
            result = result + "</div>";
    		result = result + "<hr/>";
            result = result + "<div id='tasks' >";
            for (var taskCount = 0; taskCount < phase.tasks.length; taskCount++) {
                var task = phase.tasks[taskCount];
                var action = task.state==='PENDING' ? '<img class=\"link\" src=\"@routes.Assets.at("/images/play_alt3.png")\" onclick=\"doAction(\'/pipe/'+pipe.name+'/'+pipe.version+'/'+phase.name+'/'+task.name+'\')\"/>':''
                var onclick = action==='' ? "onClick=\"getTaskDetails('" + pipe.name +":" + phase.name +":"+ task.name+"')\"" : '';
                result = result + "<div id='" + pipe.name + phase.name + task.name + "' " + onclick + " class='task "
                        + task.state + " " + pipe.name + "' style='left: " + (5 + taskCount * 30)
                        + "px;' on>"+action+"<label class='taskInfo'>"+task.name+"</label></div>";
            }
            result = result +"<div class='clear'></div>";
            result = result + "</div>";
            
            return result;
    	}
    	
    	
        function createPipeMarkup(pipes) {
        	for(var pipeCount = 0; pipeCount < pipes.length; pipeCount++){
        		var pipe =  pipes[pipeCount];
        		shownPipeVersions[pipe.name] = pipe.version;
        		//Function createCanvasMarkupNameAsId can be found in public/javascripts/pipesCommon.js
        		$('#pipeList').append(createCanvasMarkupNameAsId(pipe));
	            for(var phaseCount = 0; phaseCount < pipe.phases.length; phaseCount++){
	            	var phase = pipe.phases[phaseCount];
	            	$('#'+pipe.name+'canvas').append("<div id='" + pipe.name + phase.name + "' class='phase block " + pipe.name + "' style='left: "+(20+phaseCount*320)+"px; top: 70px;'>"+generatePhaseMarkup(pipe, phase)+"</div>");
	            }
        	}
        }
        window.onload = function() {
            initPageObjects();
            
        }
        
        function resetPhases(className){
        	$('.'+className).animate({ backgroundColor: 'white' }, 'fast');
        	$('.'+className).find('#started').html("");
    		$('.'+className).find('#executionTime').html("");
        }
        
        function resetPipeVersionInfo(className, version, committer, commitMsg) {
        	$('.'+className).find('#pipeVersion').html('Version: ' + version);
    		$('.'+className).find('#versionControlInfo').find('#committer').html(committer);
    		$('.'+className).find('#versionControlInfo').find('#commitText').html("'"+commitMsg+"'");
        }
        function highlightPhase(pipeName, phaseName) {
            if(selectedPhase &&  selectedPipe){
                $('#'+selectedPipe+selectedPhase).removeClass('phaseHighlighted');
            }
            $('#'+pipeName+phaseName).addClass('phaseHighlighted');
            selectedPhase = phaseName;
            selectedPipe = pipeName;
        }
        
        function updateTask(updateTaskData) {
        	function colorizeTask(colour) {
        		$('#'+updateTaskData.pipeName+updateTaskData.phaseName+updateTaskData.taskName).animate({ backgroundColor: colour }, 'slow');
        	}
            function addTaskTrigger() {
                var action = '<img class=\"link\" src=\"@routes.Assets.at("/images/play_alt3.png")\" onclick=\"doAction(\'/pipe/'+pipe.name+'/'+pipe.version+'/'+phase.name+'/'+task.name+'\')\"/>';
                $('#'+updateTaskData.pipeName+updateTaskData.phaseName+updateTaskData.taskName).onclick='';
                $('#'+updateTaskData.pipeName+updateTaskData.phaseName+updateTaskData.taskName).html=action;
            }
        	switch(updateTaskData.status) {
        	case "RUNNING":
        		colorizeTask("#b5e0f7");
    			break;
        	case "SUCCESS":
        		colorizeTask("#64cc7b")
    			break;
        	case "FAILURE":
        		colorizeTask("#d25353");
    			break;
            case "PENDING":
                    colorizeTask("#d3d3d3")
                    addTaskTrigger();
                    break;
        	}
        }

        function updatePhase(updatePhaseData) {
        	var domNodeId = updatePhaseData.pipeName+updatePhaseData.phaseName;
        	function colorizePhase(colour) {
        		//$('#'+domNodeId).animate({ backgroundColor: colour }, 'fast');
        		if(updatePhaseData.started) {
        			$('#'+domNodeId).find('#started').html(updatePhaseData.started);
        		}
        		if(updatePhaseData.executionTime) {
        			$('#'+domNodeId).find('#executionTime').html("("+updatePhaseData.executionTime+")");
        		}
        	}
        	switch(updatePhaseData.status) {
        	case "RUNNING":
        		colorizePhase("#C0E3F7");
    			break;
        	case "SUCCESS":
        		colorizePhase("#AAFFC4")
    			break;
        	case "FAILURE":
        		colorizePhase("#FFD8DA");
    			break;
        	}
        }
        
        function subStringCommitId(commitId) {
        	var result = commitId.substring(0, 6) +"...";
        	return result;
        }
        
        
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var chatSocket = new WS("@routes.Pipes.setupSocket().webSocketURL(request)")

            var sendMessage = function() {
            }

            var receiveEvent = function(event) {
                var data = JSON.parse(event.data);
                console.log(data);
                // Handle errors
                if(data.error) {
                    chatSocket.close();
                    alert('An error has occured while executing a pipeline. Please refer to server log.');
                    return
                } else if(data.phaseUpdate) {
                	if(shownPipeVersions[data.pipeName] == data.version) {
                    	updatePhase(data);
                	}
                } else if(data.taskUpdate) {
                	if(shownPipeVersions[data.pipeName] == data.version){
                		//The updated task is visible
                		updateTask(data);
                	}
                } else if(data.newPipeVersion) {
                	shownPipeVersions[data.pipeName] = data.version;
                	resetPhases(data.pipeName);
                	resetPipeVersionInfo(data.pipeName, data.version, data.committer, data.commitMsg);
                }

            }

            chatSocket.onmessage = receiveEvent

        })
        
        $.ajax({
            	  url: '/pipes/latest',
            	  success: createPipeMarkup,
            	});
    </script>
    <div id="pipeList">
    
    </div>
}

@main("All pipelines with latest run", headers)(html)