@(pipes: List[models.config.PipeConfig])

@import models.config._

@displayPipe(graphCount: Int, pipe: PipeConfig) = {
    //Create unique variable for the graph which the pipe will be displayed in.
    var graph@{graphCount} = new Graph();
    graph@{graphCount}.edgeFactory.template.style.directed = true;

    var prevPhase@{graphCount};
    @for(phase: PhaseConfig <- pipe.getPhases()){
        graph@{graphCount}.addNode("@{phase.getName()}", {render:nodeRenderer});
        if(prevPhase@{graphCount}) {
            graph@{graphCount}.addEdge(prevPhase@{graphCount}, "@{phase.getName()}");
            prevPhase@{graphCount} = "@{phase.getName()}";
        }
        else {
            prevPhase@{graphCount} = "@{phase.getName()}";
        }
    }

    //Create unique layout and renderer for the graph.
    var layouter@{graphCount} = new Graph.Layout.Ordered(graph@{graphCount}, topological_sort(graph@{graphCount}));

    var render@{graphCount} = new Graph.Renderer.Raphael('pipe@{graphCount}', graph@{graphCount}, $(".pipe:first").width(), $(".pipe:first").height());
}

@main("Pipe List"){
<script type="text/javascript">
    var redraw;

    window.onload = function () {

        var nodeRenderer = function(r, n) {
            /* the Raphael set is obligatory, containing all you want to display */
            var set = r.set().push(
                    /* Set how the nodes should be rendered */

                    r.rect(n.point[0]-30, n.point[1]-13, 60, 44).attr({"fill": "lightgray", "stroke":"#bf5600", r : "10", "stroke-width" : "2" })).push(
                    r.text(n.point[0], n.point[1] + 10, (n.label || n.id)));
            return set;
        };

        @for(i <- 0 until pipes.length){
            @displayPipe(i, pipes(i))
        }
    };
</script>
<ul id="pipeList">
<!--Create one div per graph-->
@for(pipeCount <- 0 until pipes.length){
    <form action="/pipe/@{pipes(pipeCount).getName()}" id="startPipe_@{pipes(pipeCount).getName()}_Form">
        <button id="startPipe_@{pipes(pipeCount).getName()}_Btn">Start @{pipes(pipeCount).getName()}</button>
    </form>
    <div id="pipe@{pipeCount}" class="pipe">@pipes(pipeCount).getName()</div>
}
</ul>
}